.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  pointer-events: none;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.App .survey-main-btn{
  background-color: #af5f46;
  width: 150px;
  margin: 10px;
  border: none;
  padding: 5px;
}

.App .question-container{
  margin: 20px;
  width: 400px;
}

.App .question-container .input-grp {
  margin-bottom: 5px;
}

.App .question-container .options-text{
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 5px;
}